
div {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 2px;
    border: none;
    color: #fff;
    border-radius: 3px;
  }
  
  .btn1 {
    background-color: #4CAF50; 
  }
  
  .btn2 {
    background-color: #f44336; 
  }
  th.actions {
    text-align: center;
  }
  
  td.actions button {
    margin: 2px auto;
    display: block;
  }
  table{
    background-color: #f2f2f2;
  }